Teckraft.Web/Service References/TestOTPWebService/webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Password">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrMobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrApplName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrApplCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrEmailId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrApplName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrApplCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginValidity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrApplName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrApplCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginValidityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginValidityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForgetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrMobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrApplName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrApplCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrEmailId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForgetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ForgetPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PasswordSoapIn">
    <wsdl:part name="parameters" element="tns:Password" />
  </wsdl:message>
  <wsdl:message name="PasswordSoapOut">
    <wsdl:part name="parameters" element="tns:PasswordResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginValiditySoapIn">
    <wsdl:part name="parameters" element="tns:LoginValidity" />
  </wsdl:message>
  <wsdl:message name="LoginValiditySoapOut">
    <wsdl:part name="parameters" element="tns:LoginValidityResponse" />
  </wsdl:message>
  <wsdl:message name="ForgetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ForgetPassword" />
  </wsdl:message>
  <wsdl:message name="ForgetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ForgetPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Password">
      <wsdl:input message="tns:PasswordSoapIn" />
      <wsdl:output message="tns:PasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginValidity">
      <wsdl:input message="tns:LoginValiditySoapIn" />
      <wsdl:output message="tns:LoginValiditySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForgetPassword">
      <wsdl:input message="tns:ForgetPasswordSoapIn" />
      <wsdl:output message="tns:ForgetPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Password">
      <soap:operation soapAction="http://tempuri.org/Password" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginValidity">
      <soap:operation soapAction="http://tempuri.org/LoginValidity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgetPassword">
      <soap:operation soapAction="http://tempuri.org/ForgetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Password">
      <soap12:operation soapAction="http://tempuri.org/Password" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginValidity">
      <soap12:operation soapAction="http://tempuri.org/LoginValidity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgetPassword">
      <soap12:operation soapAction="http://tempuri.org/ForgetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://192.168.1.52:108/webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://192.168.1.52:108/webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>