Teckraft.Web/Service References/CrWorkflowServices/CRWorkflowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRWorkflowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian.Transactions" />
      <xsd:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian" />
      <xsd:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian.Settings" />
      <xsd:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian.SAP" />
      <xsd:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Teckraft.Core.Workflow" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPILCRWorkflowService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IPILCRWorkflowService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPILCRWorkflowService_UpdateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTask" />
  </wsdl:message>
  <wsdl:message name="IPILCRWorkflowService_UpdateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IPILCRWorkflowService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IPILCRWorkflowService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:portType name="IPILCRWorkflowService">
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IPILCRWorkflowService/Update" message="tns:IPILCRWorkflowService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPILCRWorkflowService/UpdateResponse" message="tns:IPILCRWorkflowService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IPILCRWorkflowService/UpdateTask" message="tns:IPILCRWorkflowService_UpdateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPILCRWorkflowService/UpdateTaskResponse" message="tns:IPILCRWorkflowService_UpdateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IPILCRWorkflowService/Create" message="tns:IPILCRWorkflowService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPILCRWorkflowService/CreteResponse" message="tns:IPILCRWorkflowService_Create_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPILCRWorkflowService" type="tns:IPILCRWorkflowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IPILCRWorkflowService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <soap:operation soapAction="http://tempuri.org/IPILCRWorkflowService/UpdateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IPILCRWorkflowService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRWorkflowService">
    <wsdl:port name="BasicHttpBinding_IPILCRWorkflowService" binding="tns:BasicHttpBinding_IPILCRWorkflowService">
      <soap:address location="http://localhost:57395/CRWorkflowService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>