Teckraft.Web/Service References/CrWorkflowServices/CRWorkflowService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Teckraft.Core.Workflow" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Teckraft.Core.Workflow" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian.Settings" />
  <xs:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian.Transactions" />
  <xs:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:57395/CRWorkflowService.xamlx?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian" />
  <xs:complexType name="Task">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian.Settings" minOccurs="0" name="AssignedTo" nillable="true" type="q2:User" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian.Transactions" minOccurs="0" name="CR" nillable="true" type="q3:CR" />
          <xs:element minOccurs="0" name="CRPhaseId" type="xs:int" />
          <xs:element minOccurs="0" name="CRStageId" type="xs:int" />
          <xs:element minOccurs="0" name="Completed" type="xs:boolean" />
          <xs:element minOccurs="0" name="CompletedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CorrelationId" type="ser:guid" />
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NoOfDays" type="xs:int" />
          <xs:element minOccurs="0" name="ParentTaskId" type="xs:int" />
          <xs:element minOccurs="0" name="RUB" type="xs:int" />
          <xs:element minOccurs="0" name="RevisedDateRemark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevisedEndDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian.Transactions" minOccurs="0" name="Stage" nillable="true" type="q4:CRStage" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaskNo" type="xs:int" />
          <xs:element minOccurs="0" name="TaskType" nillable="true" type="tns:TaskType" />
          <xs:element minOccurs="0" name="TeamId" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UniqueId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="TaskType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Teckraft.Core.Domian" base="q5:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="TaskTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaskTypeDesc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TaskType" nillable="true" type="tns:TaskType" />
</xs:schema>